p {
    color: rgba(0, 0, 0, 0.904);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
li {
    color: rgb(116, 206, 233);
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    display: table;
    margin: 0 auto;
  }
h1 {
    font-size: 80px;
    text-align: center;
    color: rgb(2, 2, 2);
    margin: 0;
    padding: 20px 0;
    color: #2E4053;
    text-shadow: 3px 3px 1px black;
  }
  
  
h2 {
    color:black;
    font-size: 30px;
    text-align: center;
  }
h3{
  color:black;
  font-size:20px;
  text-align:center;
}
html {
    font-family: 'Noto Sans TC', sans-serif;
  }
  
  
body{
      /* The image used */
      background-image: url("../images/背景.jpg");
      /* Full height */
      height: 100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
img {
    height: 500px;
    display: block;
    margin: 0 auto;
  }
a{
    color:rgba(123, 125, 233, 0.904);
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: table;
    margin: 0 auto;
    
  }
  #pop {
    font-size: 30px;
  }